



<div class="row" style="margin-top: 20px;margin-left: 50px;" >
     
    <ngx-charts-advanced-pie-chart *ngIf="done4"
    [results]="categoriesList4"
    [view]="[500,500]"
    [scheme]="colorScheme"
    [gradient]="gradient"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)">
    </ngx-charts-advanced-pie-chart> 
</div>


<div style="margin-top: 5px;margin-bottom:400px;">
    <ngx-charts-pie-chart *ngIf="done"
    [results]="categoriesList"
    [legend]="legend"
    [legendTitle]="'Les clients classés par risque: '" 
    [view]="[1200,500]"
    [labels]="true" 
    [doughnut]="true"
    [trimLabels]="true"
    [scheme]="colorScheme"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [maxLabelLength]="20">
    </ngx-charts-pie-chart>
    </div>
<b ><h1 style="margin-left:100px;color:rgb(79, 48, 107) ;">Analyse sur les transactions :</h1> </b>
<br>
<br>





<div class="card-body">

    <div class="row">
      <div class="col-md-4">
          <div class="card card-chart">
              <div class="card-header card-header-success">
                  <div class="ct-chart" id="dailySalesChart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Natures des Transactions</h4>
                <ngx-charts-pie-chart *ngIf="done1"
                [results]="categoriesList1"
                [legend]="legend"
                [legendTitle]="'Transactions : '" 
                [view]="[350,380]"
                [legendPosition]="legendPosition"
                [labels]="true" 
                [doughnut]="true"
                [trimLabels]="true"
                [scheme]="colorScheme"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [timeline]="timeline"
                [maxLabelLength]="20">
                </ngx-charts-pie-chart>
              </div>
              <div class="card-footer">
                  <div class="stats">
                      <i class="material-icons">access_time</i> Mis à jour fait il y a une seconde.
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-chart">
              <div class="card-header card-header-warning">
                  <div class="ct-chart" id="websiteViewsChart"></div>
              </div>
              <div class="card-body">
                  <h4 class="card-title">Risques des Transactions</h4>
               
        <ngx-charts-bar-vertical *ngIf="done2"
        [results]="categoriesList2"
        [legend]="legend"
        [legendTitle]="'Transactions: '" 
        [legendPosition]="legendPosition"
        [view]="[350,380]"
        [labels]="true" 
        [doughnut]="true"
        [trimLabels]="true"
        [scheme]="colorScheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [maxLabelLength]="20">
        </ngx-charts-bar-vertical>
              </div>
              <div class="card-footer">
                  <div class="stats">
                      <i class="material-icons">access_time</i> Mis à jour fait il y a une seconde.
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-chart">
              <div class="card-header card-header-danger">
                  <div class="ct-chart" id="completedTasksChart"></div>
              </div>
              <div class="card-body">
                  <h4 class="card-title" >Nombre Transaction mensuelle</h4>
                  <ngx-charts-pie-chart *ngIf="done3"
                  [results]="categoriesList3"
                  [legend]="legend"
                  [legendTitle]="'Transactions : '" 
                  [view]="[350,380]"
                  [legendPosition]="legendPosition"
                  [labels]="true" 
                  [doughnut]="true"
                  [trimLabels]="true"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxis]="xAxis"
                  [yAxis]="yAxis"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [timeline]="timeline"
                  [maxLabelLength]="20">
                  </ngx-charts-pie-chart>
              </div>
              <div class="card-footer">
                  <div class="stats">
                      <i class="material-icons">access_time</i> Mis à jour fait il y a une seconde.
                  </div>
              </div>
          </div>
      </div>
  </div> 