<label class="l1">Liste d’associés / principaux actionnaires par ordre décroissant de participation</label>
<form class="example-form" > 
  <button mat-stroked-button style="margin-left: 100%;" (click)="onSet()"><span class="material-icons">
    add_circle_outline
    </span></button>
                 <div class="row">
                      <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input name="nom" matInput [(ngModel)]="beneficiaire_effectif.nom" id="nom"  #nom placeholder="Nom" required>
                        <mat-error>Champs obligatoire.</mat-error>  
                      </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input  name="prenom"  matInput  required [(ngModel)]="beneficiaire_effectif.prenom" #prenom id="prenom" placeholder="Prenom"  >
                          <mat-error>Champs obligatoire.</mat-error>
                        </mat-form-field>
                       </div>
                 </div>
                 <div class="row">
                       <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                          <mat-label>Pays residence</mat-label>
                          <select matNativeControl [(ngModel)]="beneficiaire_effectif.paysResidence" name="paysResidence" id="paysResidence" #paysResidence>
                          <option value="" selected></option>
                          <option *ngFor="let liste_nationnalite of liste_nationnalite" [value]="liste_nationnalite.nationalite"  matInput >
                            {{liste_nationnalite.nationalite}}
                          </option>
                        </select>
                         </mat-form-field>
                       </div>
                       <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input  #pourcentage name="pourcentage" id="pourcentage" [(ngModel)]="beneficiaire_effectif.pourcentage" required  matInput placeholder="Pourcentage" type="number" >
                          <mat-error>Champs obligatoire.</mat-error>
                        </mat-form-field>
                       </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput #CIN maxlength="8" required [(ngModel)]="beneficiaire_effectif.codeClient" name="codeClient" id="codeClient" required matInput placeholder="Numero Carte identite" type="number" >
                      <mat-hint align="end">{{CIN.value?.length || 0}}/8</mat-hint>
                      <mat-error *ngIf="service.form.controls['CIN'].errors?.required">Champs obligatoire.</mat-error>
                  </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input #passport  required maxlength="9"  [(ngModel)]="beneficiaire_effectif.numPassport" name="numPassport" id="numPassport" required matInput placeholder="Numero passeport" type="text"  >
                        <mat-hint align="end">{{passport.value?.length || 0}}/9</mat-hint>
                      </mat-form-field>
                      </div>
                    </div>
</form>
                    <tr> 
                      <td>
                    <button mat-raised-button color="primary" style="margin-left:570%;" (click)="OnCreate(beneficiaire_effectif.codeClient,nom.value, prenom.value, pourcentage.value , CIN.value, passport.value,paysResidence.value, CIN.value?.length , passport.value?.length )" >Ajouter </button>        
                  </td>
                  <td>
                    <button mat-raised-button color="warn" style="margin-left:600%;"  (click)="Close()">Fermer </button> </td>
                  </tr>    
<!--[disabled]="this.form.invalid"-->
<!---->
<!---->