<div class="main-content">
  <div class="container-fluid">
    
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title"> Mettre à jour la Fiche KYC du client :  {{id}}</h4>
                  </div>
                  <div class="card-body">
                      <form>



<div *ngIf="personne_physique">
  <div>
    <label class="l1">DESIGNATION :</label> <br>
    <td><mat-form-field class="example-full-width">
      <mat-label>code</mat-label>
      <input matInput [(ngModel)]="personne_physique.codeClient"   name="code_clt" id="code_clt" type="number"  required disabled>
    </mat-form-field></td>
    <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="personne_physique.prenom" name="prenom" id="firstname" placeholder="Prenom" type="text"  disabled>
                          </mat-form-field>
                        </div>
                            
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="personne_physique.nom" name="nom" id="lastname" placeholder="Nom" type="text" disabled>
                          </mat-form-field>
                        </div>
                        </div>
  
    <label class="l1">NAISSANCE & SITUATION :</label> <br>
    
        
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="personne_physique.dateNaissance" name="date_naiss" id="date_naiss" placeholder="date_naiss" type="text"  disabled>
        </mat-form-field>
      </div>
          
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="personne_physique.paysNaissance" name="pays_naiss" id="pays_naiss" placeholder="pays_naiss" type="text" disabled>
        </mat-form-field>
      </div>
      </div>
    
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="personne_physique.sexe" name="sexe" id="sexe" placeholder="sexe" type="text" disabled  >
          </mat-form-field>
        </div>
            
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="personne_physique.etatCivil" name="etat_civil" id="etat_civil" placeholder="etat_civil" type="text"  >
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="personne_physique.capaciteJuridique" name="c_juridique" id="c_juridique" placeholder="Capacite juridique" type="text"  >
          </mat-form-field>
        </div>
        </div>

      
        <label >Nationalité(s) :</label>
    
        <ul>
          <li *ngFor="let book of nat">{{ book.nationalite}}</li>
          
      </ul>
       
      <p></p>
      <button mat-raised-button  mat-stroked-button color="warn"  (click)="onClick2(personne_physique.codeClient)">
        <span class="material-icons">
          playlist_add
          </span> Ajouter nationalite
      </button>
      <p></p>

    <div>
      <label class="l1">PIECES D’IDENTITE :</label>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="personne_physique.numCin" name="num_cin" id="num_cin" placeholder="Code CIN " type="text"  disabled>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="personne_physique.numPassport"   name="num_passport" id="num_passport" maxlength="9" minlength="9" placeholder="Numero du passport" type="text" >
  
        </mat-form-field>
     
      </div> 
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="personne_physique.carteSejour" name="carte_sejour" id="carte_sejour" maxlength="9" minlength="9" placeholder="Num carte sejour :" type="text" >
        </mat-form-field>

      </div>
      </div>
  
       
          <label  class="l1">STATUT US:</label>  <br>
          
                          <div *ngIf="personne_physique.statutFatca;else elseBlock">  

                            <p class="l2"> -La société posséde un statut Fatca </p>
                          </div>
                             
                          <ng-template #elseBlock><p></p><p>-La société ne posséde pas un statut Fatca</p></ng-template>
                          <p></p>


   <div *ngIf="personne_physique.usResident">  
    <p class="l2"> Residence au Etat Unis : Oui </p>
  </div>
      
  <div *ngIf="personne_physique.carteVerte">  
 <p class="l2"> Disposition d'une carte verte : Oui </p>
</div>

<div *ngIf="personne_physique.codeTin">  
  <p class="l2"> Disposition d'un code TIN : Oui </p>
 </div>
          
      
 <label  class="l1">CONTACT :</label>                        
 <div class="row">
     
     <div class="col-md-5">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="personne_physique.adresse" name="adresse"  id="adresse"  matInput placeholder="Adresse"   type="text" >
      </mat-form-field>  
    </div>
    <div class="col-md-2">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="personne_physique.indiTelephonique" id="indiTelephonique" name="indiTelephonique" matInput placeholder="Indicatif Tel : +216 " type="number">
      </mat-form-field>  
    </div>
    
    <div class="col-md-5">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="personne_physique.numTelephone"  minlength="8" maxlength="8" name="numTelephone"  id="numTelephone" placeholder="Telephone de contact" type="text" >
      
      </mat-form-field>  
    </div>
                
 </div>

         <div class="row">
           <div class="col-md-8">
             <mat-form-field class="example-full-width">
               <input matInput [(ngModel)]="personne_physique.email" id="email" name="email" matInput placeholder="Email" type="email"  >
             
             </mat-form-field>
           </div>
           <div class="col-md-4">
            <mat-form-field class="example-full-width">
            <mat-label>Pays residence</mat-label>
            <select matNativeControl [(ngModel)]="personne_physique.paysResidence" name="paysResidence" id="paysResidence" >
          
            <option *ngFor="let liste_nationnalite of liste_nationnalite" [value]="liste_nationnalite.nationalite"  matInput >
              {{liste_nationnalite.nationalite}}
            </option>
          </select>
           </mat-form-field>
         </div>
       </div>




    <label  class="l1">EMPLOYEUR (POUR LES SALARIES ET FONCTIONNAIRES):</label> <br>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="personne_physique.categorieEmployeur" name="cat_employeur" id="cat_employeur" placeholder="Categorie employeur " type="text">
        </mat-form-field>
      </div>
          
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="personne_physique.contratTravail" name="contrat_travail" id="contrat_travail" placeholder="Contrat du travail" type="text" >
        </mat-form-field>
      </div>

     
      </div>
    

    <label class="l1" >IDENTIFICATION COMPLEMENTAIRE ( POUR LES ENTREPRENEURS INDIVIDUELS) :</label> <br>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="personne_physique.numeroRne" name="num_rne" id="num_rne" placeholder="Num RNE :" type="text"  >
        </mat-form-field>
      </div>
          
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="personne_physique.dateExtraitRne" name="date_extrait_rne" id="date_extrait_rne" placeholder="Date extrait RNE :" type="text" >
        </mat-form-field>
      </div>
      </div>
    
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="personne_physique.regimeFiscal" name="regime_fiscal" id="regime_fiscal" placeholder="Regime fiscale " type="text"  >
          </mat-form-field>
        </div>
            
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="personne_physique.matriculeFiscaleP" name="matriculeFiscaleP" id="matriculeFiscaleP" placeholder="Matricule fiscale" type="text">
          </mat-form-field>
        </div>
  
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="personne_physique.codeDouane" name="code_douane" id="code_douane" placeholder="Code douane :" type="text"  >
          </mat-form-field>
        </div>
        </div>



    <label class="l1">REVENUS & REGIME SOCIAL:</label> <br>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="personne_physique.affSociale" name="affSociale" id="affSociale" placeholder="Affiliation sociale:" type="text" >
        </mat-form-field>
      </div>
          
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="personne_physique.numAff" name="numAff" id="numAff" placeholder="Numero d'Affiliation :" type="number" >
        </mat-form-field>
      </div>
      </div>
    
           
      <div class="row">
        <div class="col-md-3">  
    <mat-form-field class="example-full-width">
      <mat-label>Nature</mat-label>
      <input matInput [(ngModel)]="personne_physique.listRevenu[0].nature && delete"  name="nature" id="nature" type="text"  required >
    </mat-form-field>
    </div>
    <div class="col-md-3"> 
    <mat-form-field class="example-full-width">
      <mat-label>Periodicite</mat-label>
      <input matInput [(ngModel)]="personne_physique.listRevenu[0].periodicite"  name="periodicite" id="periodicite" type="text" placeholder="Ex Mensuel" required>
    </mat-form-field>
    
    </div>
    <div class="col-md-3"> 
 <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="personne_physique.listRevenu[0].montant"  name="montant" id="montant"  type="number" class="example-full-width"  placeholder="Montant" required >
  </mat-form-field>
  </div>
  <div class="col-md-2"> 
    <mat-form-field class="example-full-width">
       <input matInput [(ngModel)]="personne_physique.listRevenu[0].devise"  name="devise" id="devise"  type="text" class="example-full-width"  placeholder="Devise" required >
     </mat-form-field>
     </div>
  <div class="col-md-1"> 
    <button mat-raised-button  mat-stroked-button color="warn"  (click)="supprimer(personne_physique.listRevenu[0].codeRevenu)">
      <span class="material-icons">
       delete
        </span> 
    </button>
  </div>

</div>

<div class="row" *ngIf="!personne_physique.listRevenu[1]==''&& delete1">
  <div class="col-md-3">  
<mat-form-field class="example-full-width">
<mat-label>Nature</mat-label>
<input matInput [(ngModel)]="personne_physique.listRevenu[1].nature"  name="nature1" id="nature1" type="text"  required >
</mat-form-field>
</div>
<div class="col-md-3"> 
<mat-form-field class="example-full-width">
<mat-label>Periodicite</mat-label>
<input matInput [(ngModel)]="personne_physique.listRevenu[1].periodicite"  name="periodicite1" id="periodicite1" type="text" placeholder="Ex Mensuel" required>
</mat-form-field>

</div>
<div class="col-md-3"> 
<mat-form-field class="example-full-width">
   <input matInput [(ngModel)]="personne_physique.listRevenu[1].montant"  name="montant1" id="montant1"  type="number" class="example-full-width"  placeholder="Montant" required >
 </mat-form-field>
 </div>

 <div class="col-md-2"> 
 <mat-form-field class="example-full-width">  
   <input matInput #devise maxlength="10" [(ngModel)]="personne_physique.listRevenu[1].devise"  name="devise1" id="devise1" type="text" placeholder="Ex.dinars" value="Dinars" required >
 </mat-form-field>
 </div>
 <div class="col-md-1"> 
  <button mat-raised-button  mat-stroked-button color="warn"  (click)="supprimer1(personne_physique.listRevenu[1].codeRevenu)">
    <span class="material-icons">
     delete
      </span> 
  </button>
</div>
</div>

<div class="row" *ngIf="!personne_physique.listRevenu[2]==''&& delete2">
<div class="col-md-3">  
<mat-form-field class="example-full-width">
<mat-label>Nature</mat-label>
<input matInput [(ngModel)]="personne_physique.listRevenu[2].nature"  name="nature2" id="nature2" type="text"  required >
</mat-form-field>
</div>
<div class="col-md-3"> 
<mat-form-field class="example-full-width">
<mat-label>Periodicite</mat-label>
<input matInput [(ngModel)]="personne_physique.listRevenu[2].periodicite"  name="periodicite2" id="periodicite2" type="text" placeholder="Ex Mensuel" required>
</mat-form-field>

</div>
<div class="col-md-3"> 
<mat-form-field class="example-full-width">
 <input matInput [(ngModel)]="personne_physique.listRevenu[2].montant"  name="montant2" id="montant2"  type="number" class="example-full-width"  placeholder="Montant" required >
</mat-form-field>
</div>

<div class="col-md-2"> 
<mat-form-field class="example-full-width">  
 <input matInput #devise maxlength="10" [(ngModel)]="personne_physique.listRevenu[2].devise"  name="devise2" id="devise2" type="text" placeholder="Ex.dinars" value="Dinars" required >
</mat-form-field>
</div>
<div class="col-md-1"> 
<button mat-raised-button  mat-stroked-button color="warn"  (click)="supprimer2(personne_physique.listRevenu[2].codeRevenu)">
  <span class="material-icons">
   delete
    </span> 
</button>
</div>
</div>
   
    
<div class="row" *ngIf="!personne_physique.listRevenu[3]==''&& delete3">
<div class="col-md-3">  
<mat-form-field class="example-full-width">
<mat-label>Nature</mat-label>
<input matInput [(ngModel)]="personne_physique.listRevenu[3].nature"  name="nature3" id="nature3" type="text"  required disabled >
</mat-form-field>
</div>
<div class="col-md-3"> 
<mat-form-field class="example-full-width">
<mat-label >Periodicite</mat-label>
<input matInput [(ngModel)]="personne_physique.listRevenu[3].periodicite"  name="periodicite3" id="periodicite3" type="text" placeholder="Ex Mensuel" required disabled>
</mat-form-field>

</div>
<div class="col-md-3"> 
<mat-form-field class="example-full-width">
 <input matInput [(ngModel)]="personne_physique.listRevenu[3].montant"  name="montant3" id="montant3"  type="number" class="example-full-width"  placeholder="Montant" required disabled>
</mat-form-field>
</div>

<div class="col-md-2"> 
<mat-form-field class="example-full-width">  
 <input matInput #devise maxlength="10" [(ngModel)]="personne_physique.listRevenu[3].devise"  name="devise3" id="devise3" type="text" placeholder="Ex.dinars" value="Dinars" required disabled>
</mat-form-field>
</div>
<div class="col-md-1"> 
  <button mat-raised-button  mat-stroked-button color="warn"  (click)="supprimer3(personne_physique.listRevenu[3].codeRevenu)">
    <span class="material-icons">
     delete
      </span> 
  </button>
</div>
</div>

<div class="row" *ngIf="!personne_physique.listRevenu[4]==''&& delete4">
<div class="col-md-3">  
<mat-form-field class="example-full-width">
<mat-label>Nature</mat-label>
<input matInput [(ngModel)]="personne_physique.listRevenu[4].nature"  name="nature4" id="nature4" type="text"  required  >
</mat-form-field>
</div>
<div class="col-md-3"> 
<mat-form-field class="example-full-width">
<mat-label>Periodicite</mat-label>
<input matInput [(ngModel)]="personne_physique.listRevenu[4].periodicite"  name="periodicite4" id="periodicite4" type="text" placeholder="Ex Mensuel" required >
</mat-form-field>

</div>
<div class="col-md-3"> 
<mat-form-field class="example-full-width">
 <input matInput [(ngModel)]="personne_physique.listRevenu[4].montant"  name="montant4" id="montant4"  type="number" class="example-full-width"  placeholder="Montant" required >
</mat-form-field>
</div>

<div class="col-md-2"> 
<mat-form-field class="example-full-width">  
 <input matInput #devise maxlength="10" [(ngModel)]="personne_physique.listRevenu[4].devise"  name="devise4" id="devise4" type="text" placeholder="Ex.dinars" value="Dinars" required >
</mat-form-field>
</div>

<div class="col-md-1"  > 
  <button mat-raised-button  mat-stroked-button color="warn"  (click)="supprimer4(personne_physique.listRevenu[4].codeRevenu)">
    <span class="material-icons">
     delete
      </span> 
  </button>
</div>
</div>


<p></p>
<button mat-raised-button  mat-stroked-button color="warn"  (click)="onClick(personne_physique.codeClient)">
  <span class="material-icons">
    playlist_add
    </span> Ajouter Revenu
</button>
<p></p>
     
<label  class="l1">PERSONNE POLITIQUEMENT EXPOSEE:</label>


<div *ngIf="personne_physique.statutPep;">  
<b>  <p class="l2"> -Cette personne est politiquement exposé.</p></b>

</div>
<p>1- Voulez-vous modifié le statut PEP de cette personne physique ?</p>
<h5>  <input  type="radio"  id="huey20" name="huey20"  [(ngModel)]="personne_physique.statutPep"  value="true"
  checked>
<label for="huey20" style="margin-right:50px;">Oui </label>            
<input type="radio" id="huey21"  name="huey21" [(ngModel)]="personne_physique.statutPep"   value="false">
<label for="huey21">Non</label>
 </h5> 
<p></p>
<div *ngIf="personne_physique.parentePep;">  
<b><p class="l2"> -Cette personne a une relation avec une personne politiquement exposé.</p></b>
  
</div>
<p>2- Voulez-vous modifié le statut de parenté PEP ?
   </p>
   <h5>  <input  type="radio"  id="dewey12" name="dewey12"  [(ngModel)]="personne_physique.parentePep"  value="true"
    checked>
<label for="dewey12" style="margin-right:50px;">Oui </label>            
<input type="radio" id="dewey13"  name="dewey13" [(ngModel)]="personne_physique.parentePep" value="false">
<label for="dewey13">Non</label>
   </h5>
    
  
        
       
  </div>
  
</div>
<td class="text-center"><button class="btn btn-primary btn-xs"  style="background-color: rgb(33, 33, 184);margin-left: 1020px;width: 150px;padding: 10px;" (click)="details(personne_physique.codeClient)" ><span class="material-icons">article</span> Modifier</button></td>
                      </form>
                  </div> </div> </div></div></div></div>




